// Mixins


// Avatar mixin
@mixin avatar-base($size: $unit-8) {
  font-size: $size / 2;
  height: $size;
  width: $size;
}


// Button variant mixin
@mixin button-variant($color: $primary-color) {
  background: $color;
  border-color: darken($color, 3%);
  color: $light-color;
  &:focus {
    @include control-shadow($color);
  }
  &:focus,
  &:hover {
    background: darken($color, 2%);
    border-color: darken($color, 5%);
    color: $light-color;
  }
  &:active,
  &.active {
    background: darken($color, 7%);
    border-color: darken($color, 10%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}

@mixin button-outline-variant($color: $primary-color) {
  background: $light-color;
  border-color: $color;
  color: $color;
  &:focus {
    @include control-shadow($color);
  }
  &:focus,
  &:hover {
    background: lighten($color, 50%);
    border-color: darken($color, 2%);
    color: $color;
  }
  &:active,
  &.active {
    background: $color;
    border-color: darken($color, 5%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $color;
      border-left-color: $color;
    }
  }
}




// Clearfix mixin
@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}



// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
  #{$name} {
    background: $color !important;

    @if (lightness($color) < 60) {
      color: $light-color;
    }
  }
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
  #{$name} {
    color: $color !important;
  }

  a#{$name} {
    &:focus,
    &:hover {
      color: darken($color, 5%);
    }
    &:visited {
      color: lighten($color, 5%);
    }
  }
}



// Label base style
@mixin label-base() {
  border-radius: $border-radius;
  line-height: 1.25;
  padding: .1rem .2rem;
}

@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  background: $bg-color;
  color: $color;
}



// Margin utility mixin
@mixin margin-variant($id: 1, $size: $unit-1) {
  .m-#{$id} {
    margin: $size !important;
  }

  .mb-#{$id} {
    margin-bottom: $size !important;
  }

  .ml-#{$id} {
    margin-left: $size !important;
  }

  .mr-#{$id} {
    margin-right: $size !important;
  }

  .mt-#{$id} {
    margin-top: $size !important;
  }

  .mx-#{$id} {
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .my-#{$id} {
    margin-bottom: $size !important;
    margin-top: $size !important;
  }
}

// Padding utility mixin
@mixin padding-variant($id: 1, $size: $unit-1) {
  .p-#{$id} {
    padding: $size !important;
  }

  .pb-#{$id} {
    padding-bottom: $size !important;
  }

  .pl-#{$id} {
    padding-left: $size !important;
  }

  .pr-#{$id} {
    padding-right: $size !important;
  }

  .pt-#{$id} {
    padding-top: $size !important;
  }

  .px-#{$id} {
    padding-left: $size !important;
    padding-right: $size !important;
  }
  
  .py-#{$id} {
    padding-bottom: $size !important;
    padding-top: $size !important;
  }
}



// Component focus shadow
@mixin control-shadow($color: $primary-color) {
  box-shadow: 0 0 0 .1rem rgba($color, .2);
}

// Shadow mixin
@mixin shadow-variant($offset) {
  box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($dark-color, .3);
}



// Text Ellipsis
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



// Toast variant mixin
@mixin toast-variant($color: $dark-color) {
  background: rgba($color, .95);
  border-color: $color;
}


