// Mixins
// Avatar mixin
avatar-base($size = $unit-8)
  font-size: ($size / 2)
  height: $size
  width: $size
// Button variant mixin
button-variant($color = $primary-color)
  background: $color
  border-color: darken($color, 3%)
  color: $light-color
  &:focus
    control-shadow($color)
  &:focus,
&:hover
    background: darken($color, 2%)
    border-color: darken($color, 5%)
    color: $light-color
  &:active,
&.active
    background: darken($color, 7%)
    border-color: darken($color, 10%)
    color: $light-color
  &.loading
    &::after
      border-bottom-color: $light-color
      border-left-color: $light-color
button-outline-variant($color = $primary-color)
  background: $light-color
  border-color: $color
  color: $color
  &:focus
    control-shadow($color)
  &:focus,
&:hover
    background: lighten($color, 50%)
    border-color: darken($color, 2%)
    color: $color
  &:active,
&.active
    background: $color
    border-color: darken($color, 5%)
    color: $light-color
  &.loading
    &::after
      border-bottom-color: $color
      border-left-color: $color
// Clearfix mixin
clearfix()
  &::after
    clear: both
    content: ""
    display: table
// Background color utility mixin
bg-color-variant($name = ".bg-primary", $color = $primary-color)
  {$name}
    background: $color !important
    if lightness($color) < 60
      color: $light-color
// Text color utility mixin
text-color-variant($name = ".text-primary", $color = $primary-color)
  {$name}
    color: $color !important
  a{$name}
    &:focus,
&:hover
      color: darken($color, 5%)
    &:visited
      color: lighten($color, 5%)
// Label base style
label-base()
  border-radius: $border-radius
  line-height: 1.25
  padding: 0.1rem 0.2rem
label-variant($color = $light-color, $bg-color = $primary-color)
  background: $bg-color
  color: $color
// Margin utility mixin
margin-variant($id = 1, $size = $unit-1)
  .m{$id}
    margin: $size !important
  .mb{$id}
    margin-bottom: $size !important
  .ml{$id}
    margin-left: $size !important
  .mr{$id}
    margin-right: $size !important
  .mt{$id}
    margin-top: $size !important
  .mx{$id}
    margin-left: $size !important
    margin-right: $size !important
  .my{$id}
    margin-bottom: $size !important
    margin-top: $size !important
// Padding utility mixin
padding-variant($id = 1, $size = $unit-1)
  .p{$id}
    padding: $size !important
  .pb{$id}
    padding-bottom: $size !important
  .pl{$id}
    padding-left: $size !important
  .pr{$id}
    padding-right: $size !important
  .pt{$id}
    padding-top: $size !important
  .px{$id}
    padding-left: $size !important
    padding-right: $size !important
  .py-{$id}
    padding-bottom: $size !important
    padding-top: $size !important
// Component focus shadow
control-shadow($color = $primary-color)
  box-shadow: 0 0 0 0.1rem rgba($color, 0.2)
// Shadow mixin
shadow-variant($offset)
  box-shadow: 0 $offset ($offset + 0.05rem) * 2 rgba($dark-color, 0.3)
// Text Ellipsis
text-ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
// Toast variant mixin
toast-variant($color = $dark-color)
  background: rgba($color, 0.95)
  border-color: $color
